In [2]:
import pandas as pd
import numpy as np
from surprise import Reader, Dataset,SVD
from surprise.accuracy import rmse,mae
from surprise.model_selection import cross_validate

### 1. Import Data

In [4]:
df = pd.read_csv('ratings.csv')

In [7]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
df.drop(columns = ['timestamp'],inplace = True)

In [10]:
df.isnull().sum()

userId     0
movieId    0
rating     0
dtype: int64

### 2. EDA

In [13]:
n_movie = len(df['userId'].unique())
n_user = len(df['movieId'].unique())
print('unique user: ' + str())
print('unique movies: '+ str())

unique user: 610
unique movies: 9724

In [ ]:
# data sparsity = (#missing values / #Total Values) * 100
available_rating = df['rating'].count()
total_rating =